/* Custom, iPhone Retina */ 
@media only screen and (max-width : 767px) {
    .navbar {
        max-width: 294px;
        height: 202px;
        flex-shrink: 0;
        background-color: #64A2FF;
        align-self: center;
        display: grid;
        align-content: stretch;
        align-items: end;
        margin: auto;
        padding-top: 20px; ;
    
    }
    
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
        
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        display: none;
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: relative;
        width: 26px;
        height: 26px;
        left: 20px;


        cursor: pointer;
        float:left;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        margin: 0;
        list-style: none;
        background-color: #000000;
        transition-duration: .25s;
        display: flex;
        max-width: 100%;
        padding: 84px 0px 530px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 19px;
        z-index: 2;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        z-index: 3;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
        color: #000000;
      }
    
    .buttonMenu .contact {
        display: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background: #AFAFAF;
        width: 434px;
        height: 48px;
        flex-shrink: 0; 
        border: none;
        font-size: 26px;
        float: right;
        justify-self: end;
        }

        .LearnMore {
          border-radius: 5px;
          border: 1px solid #000;
          background: #64A2FF;
          width: 155px;
          height: 40px;
          flex-shrink: 0;
          margin-top: 5px;
          margin-bottom: 20px;
        }
      
      
          .learnmoredesc {
            border: 1px solid #000;
            background: #64A2FF;
            width: 336px;
            max-height: 173px;
            flex-shrink: 0;
            display: flex;
            margin-top: 20px;
            text-align: center;
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
          
          .row {
            display: flex;
            list-style: none;
            padding-top: 100px;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            }
            
            .collum {
              flex: 33.33%;
              margin: auto;
              justify-items: center;
              display: grid;
              margin-right: 30px;
            }
      

        .navbar .logo {
            justify-self: center;
            max-width: 100%;
        }
        
      




    body {
        background-color: #3662A5;
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .menu__btn, .menu__box, .menu__item, #menu__toggle {
        display: none;
    }
    .navbar {
        max-width: 1358px;
        height: 202px;
        flex-shrink: 0;
        background-color: #64A2FF;
        align-self: center;
        display: grid;
        align-content: stretch;
        align-items: end;
        margin: auto;
    
    }
    
    .buttonMenu .Hamburger{
        display: none;
    }


    .buttonMenu .contact {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background: #AFAFAF;
        width: 434px;
        height: 48px;
        flex-shrink: 0; 
        border: none;
        font-size: 26px;
        float: right;
        justify-self: end;
        }
        
        .navbar .logo {
            justify-self: center;
            max-width: 100%;
        }
    

        .row {
          display: flex;
          list-style: none;
          padding-top: 100px;
          flex-wrap: wrap;
          flex-direction: column;
          align-content: center;
          }
          
          .collum {
            flex: 33.33%;
            margin: auto;
            justify-items: center;
            display: grid;
            margin-right: 30px;
          }



          .LearnMore {
            border-radius: 5px;
            border: 1px solid #000;
            background: #64A2FF;
            width: 155px;
            height: 40px;
            flex-shrink: 0;
            margin-top: 5px;
            margin-bottom: 20px;
          }
        
        
            .learnmoredesc {
              border: 1px solid #000;
              background: #64A2FF;
              width: 336px;
              max-height: 173px;
              flex-shrink: 0;
              display: flex;
              margin-top: 20px;
              text-align: center;
              color: #000;
              text-align: center;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
          }


    body {
        background-color: #3662A5;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
    .menu__btn, .menu__box, .menu__item, #menu__toggle {
        display: none;
    }

  .LearnMore {
    border-radius: 5px;
    border: 1px solid #000;
    background: #64A2FF;
    width: 155px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 5px;
  }


    .learnmoredesc {
      border: 1px solid #000;
      background: #64A2FF;
      width: 336px;
      max-height: 173px;
      flex-shrink: 0;
      display: flex;
      margin-top: 20px;
      text-align: center;
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
    
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      list-style: none;
      padding-top: 100px;
      }
      
      .collum {
        flex: 33.33%;
        margin: auto;
        justify-items: center;
        display: grid;
      }

    .navbar {
        max-width: 1358px;
        height: 202px;
        flex-shrink: 0;
        background-color: #64A2FF;
        align-self: center;
        display: grid;
        align-content: stretch;
        align-items: end;
        margin: auto;
    
    }
    
    .buttonMenu .Hamburger{
        display: none;
    }

    .buttonMenu .contact{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background: #AFAFAF;
        max-width: 434px;
        height: 48px;
        flex-shrink: 0; 
        border: none;
        font-size: 26px;
        float: right;
        justify-self: end;
        }
        
    .navbar .logo {
        justify-self: center;
        max-width: 100%;
    }
    
    body {
        background-color: #3662A5;
  
    }
}